:root {
  --font-family: "DM Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "FontAwesome", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.first {
  background-image: url(../images/diego-gutierrez-NRn5rrBnH8w-unsplash\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  max-height: 100vh;
}

.social-links-first {
  text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 80px;
  left: -8px;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 10;
  cursor: pointer;
}
.social-links-first a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  z-index: 1000;
  text-decoration: none;
  cursor: pointer;
}

.first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header {
  padding: 24px 70px 24px 24px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.header__nav {
  display: flex;
  gap: 30px;
  align-items: center;
  z-index: 10;
  justify-content: center;
  gap: 40px;
}

.header__nav-list ul {
  list-style: none;
  display: flex;
  align-items: center;
  z-index: 10;
  justify-content: center;
  gap: 45px;
}
.header__nav-list ul li a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 10;
  color: #fff;
  text-decoration: none;
}

.menu-mobile {
  position: absolute;
  padding: 15px 25px !important;
  top: 30;
  right: 30px;
  width: 30vw;
  height: 80vh;
  transform: translateX(130%);
  transition: all 0.3s ease;
  background-color: transparent;
  backdrop-filter: blur(51px);
  z-index: 2222;
}

.menu-mobile.active {
  transform: translateX(0);
}

.menu-mobile .nav_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
}

.menu-mobile .nav_mobile a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 1000;
  color: #fff;
  text-decoration: none;
}

.close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-mobile .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 18px;
}

.header__btns {
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.header__btns .header__btns-menu {
  border: none;
  z-index: 1000;
  background-color: transparent;
  cursor: pointer;
}
.header__btns .header__btns-menu:hover {
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
}
.header__btns .header__btns-search {
  cursor: pointer;
}
.header__btns .header__btns-search:hover {
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
}

a:hover,
li:hover {
  transform: translateY(-1px) !important;
  transition: all 0.2s ease-in-out !important;
  z-index: 1000;
}

h1 {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 90px;
  line-height: 108%;
  text-transform: uppercase;
  z-index: 1000;
  color: #fff;
}

.first__content {
  display: flex;
  align-items: center;
}

.first__content-title {
  margin-top: 40px;
  margin-left: 150px;
  z-index: 10;
}
.first__content-title .title-button {
  border-radius: 211px;
  padding: 20px;
  width: 251px;
  height: 72px;
  background: #dd2242;
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 37px;
  z-index: 100;
}

.first__content-range {
  margin-left: 50px;
  margin-top: 100px;
  z-index: 1000;
  z-index: 100;
}
.first__content-range p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transform: rotate(-90deg);
  margin-top: 10px;
  margin-left: -8px;
  z-index: 1000;
}

.first .range {
  width: 2px;
  height: 376px;
  background-color: #fff;
  z-index: 1000;
}

.first .activ-range {
  width: 4px;
  height: 100px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.45);
  background: #dd2242;
  z-index: 2;
  z-index: 1000;
}

.first .video {
  background-image: url(../images/plyaj.png);
  background-position: center;
  background-size: cover;
  width: 317px;
  height: 200px;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
  z-index: 10;
}
@media screen and (max-width: 500px) {
  .first .video {
    position: static;
    width: 100% !important;
  }
}
.first .video .play-icon {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: white;
  display: grid;
  place-items: center;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 1000;
}

.first .bottom-content {
  background: #000;
  opacity: 0.6;
  border: 1px solid #000;
  width: 800px;
  height: auto;
  right: 317px;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 30px;
}
@media screen and (max-width: 500px) {
  .first .bottom-content {
    gap: 30px;
    flex-direction: column;
    width: 100%;
    bottom: 200px;
    position: static;
    margin-top: 50px;
  }
}
.first .bottom-content h3 {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #dd2242;
  margin-bottom: 11px;
  z-index: 10;
}
.first .bottom-content b {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 156%;
  color: #fff;
  z-index: 10;
}
.first .bottom-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #939393;
  z-index: 1000;
}

.second {
  width: 100%;
  height: 1200px;
  background-image: url(../images/2.\ Articles.png);
  background-position: center;
  background-size: cover;
  padding: 150px 0;
}
.second img {
  width: 500px;
  height: 360px;
}
.second .second__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.second .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.second .text h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 119%;
  color: #fff;
}
.second .text p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}
.second .text .second-btn {
  background: #dd2242;
  border-radius: 32px;
  padding: 14px 22px;
  width: 160px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  border: none;
}

.second__content.mobile {
  display: none;
}

.third {
  background-image: url(../images/oneguy.png);
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
  height: 1750px;
  padding: 100px;
}
.third .content {
  width: 100vw;
  height: 600px;
  background: #020c21;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  left: 0;
}
.third .content.mobile {
  display: none;
}
.third .container {
  max-width: 1300px;
  margin: 0 auto;
}

.third .content .line {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 40px;
}
.third .content h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin-top: 120px;
}
.third .content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #e0e0e0;
  margin-top: 25px;
}
.third .content h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 117%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #dd2242;
}

.carousel-container {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}
.carousel-container h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #010a20;
  margin-bottom: 40px;
}
.carousel-container .carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
  padding-left: 30px;
}
.carousel-container .carousel .carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-container .carousel .carousel-slide {
  min-width: 33.3333333333%;
  overflow: hidden;
  border-radius: 10px;
}
.carousel-container .carousel .carousel-slide img {
  width: calc(100% - 30px);
  height: auto;
  display: block;
  border-radius: 10px;
}
.carousel-container .carousel .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  outline: none;
}
.carousel-container .carousel .carousel-btn.prev {
  left: 10px;
  visibility: visible;
  z-index: 100;
}
.carousel-container .carousel .carousel-btn.next {
  right: 10px;
  visibility: visible;
  z-index: 100;
  right: 10;
}
.carousel-container .carousel .carousel-btn.inactive {
  pointer-events: none;
  z-index: 100;
}
.carousel-container .carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.carousel-container .carousel-indicators .indicator {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #85a3b2;
  border-radius: 50%;
  cursor: pointer;
}
.carousel-container .carousel-indicators .indicator.active {
  width: 30px;
  height: 15px;
  border-radius: 8px;
  background-color: #d32f2f;
}

.fourth {
  background-image: url(../images/4.\ Map.png);
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: grid;
  place-items: center;
}
.fourth .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.fourth .content.mobile {
  display: none;
}
.fourth h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 119%;
  text-align: center;
  color: #000;
}
.fourth p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6f7787;
}
.fourth .third-btn {
  border-radius: 122px;
  padding: 16px 24px;
  width: 210px;
  height: 64px;
  background: #dd2242;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  border: none;
}

.fivth {
  background-image: url(../images/img\ backround.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1200px;
  padding: 120px 0 180px;
}
.fivth .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fivth h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 119%;
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}
.fivth .video {
  background-image: url(../images/Video\ Player.png);
  background-position: center;
  background-size: cover;
  width: 900px;
  height: 500px;
  display: grid;
  place-items: center;
}

.fivth .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-left: 10px;
  margin-top: 100px;
}
.fivth .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.fivth .cards b {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}
.fivth .cards p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  opacity: 0.7;
}
.fivth .cards img {
  width: 200px;
}

.gallery-section {
  background-color: #fff;
  padding: 105px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.gallery-section .gallery-description.mobile {
  display: none;
}
.gallery-section .cnt {
  width: 1300px;
}
.gallery-section h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  text-align: center;
  color: #010a20;
}
.gallery-section p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #6f7787;
  margin-top: 30px;
  margin-bottom: 50px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-item1 {
  margin-right: -100px;
}

.gallery-item3 {
  margin-left: -100px;
}

.gallery-item4 {
  margin-right: -100px;
}

.gallery-item5 {
  margin-top: -315px;
}

.gallery-item6 {
  margin-top: -150px;
  margin-left: -100px;
}

.gallery {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gallery img {
  width: 100%;
}

footer {
  position: relative;
  background-color: #010a20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  padding: 0 70px;
}
footer .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
footer .left nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
footer a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}
footer p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.getting h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 150%;
  color: #010a20;
}
.getting h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 156%;
  color: #010a20;
}
.getting p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 162%;
  color: rgba(21, 20, 57, 0.4);
}

.getting {
  background-color: #dce8f2;
  padding: 100px 0;
}
.getting .line {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  margin-bottom: 60px;
}
.getting .img {
  background-image: url(../images/commentimg.png);
  background-position: center;
  background-size: cover;
  height: 140px;
  width: 240px;
  border-radius: 8px;
  display: grid;
  place-items: center;
}

.getting.mobile {
  display: none;
}

.circle {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50px;
  background-color: #dd2242;
}
.circle p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 144%;
  text-align: center;
  color: #fff;
}

.text-img {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 100px;
}

.btnn {
  border-radius: 122px;
  padding: 16px 24px;
  width: 190px;
  height: 60px;
  background: #dd2242;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  border: none;
  margin-top: 20px;
}

.tutun {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #dd2242;
  border-radius: 100%;
  pointer-events: none;
  filter: blur(10px);
  opacity: 0.9;
  transition: transform 0.3s, opacity 0.5s;
  z-index: 100;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 100%;
  background-color: #dd2242;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
  color: white;
  width: 70px;
  height: 60px;
  border: none;
  cursor: pointer;
}

#backToTop {
  display: inline-block;
  border-radius: 100%;
  background-color: #dd2242;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
  color: white;
  width: 70px;
  height: 70px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 95px;
}

#backToTop:hover > img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.gallery {
  display: none;
}

@media (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
@media (max-width: 480px) and (max-width: 480px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
  .header {
    padding: 0 20px 40px 0;
  }
  .header .header__nav-list ul {
    display: none;
  }
  .first__content-range {
    display: none !important;
  }
  .first__content-range .range {
    display: none;
  }
  .first {
    align-items: center;
    display: flex;
    max-height: 1100px !important;
    height: 1100px !important;
    flex-direction: column;
    padding: 40px 30px;
  }
  .first .first__content {
    align-items: center;
    flex-direction: column;
  }
  .first .first__content .first__content-title {
    margin: 0;
  }
  .first .first__content h1 {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 58px;
    line-height: 108%;
    text-transform: uppercase;
    color: #fff;
    margin: 0 !important;
  }
  .first__content-title {
    z-index: 2;
  }
  .first__content-title .title-button {
    width: 100% !important;
    height: 59px;
    padding: 0 !important;
  }
  .social-links-first {
    display: none;
  }
  .second {
    height: auto !important;
    align-items: center !important;
  }
  .second .second__content {
    display: none;
  }
  .second .second__content.mobile {
    flex-direction: column;
    gap: 50px !important;
    display: flex;
  }
  .second .second__content.mobile img {
    width: 100%;
    margin: 0 !important;
  }
  .third {
    height: 2100px;
    padding: 30px !important;
  }
  .third h2 {
    font-size: 46px !important;
    margin: 0 !important;
  }
  .third .content {
    display: none;
  }
  .third .content.mobile {
    height: 1100px !important;
    align-items: center;
    padding: 70px 0 !important;
    display: flex;
  }
  .third .line {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
    gap: 70px;
  }
  .carousel {
    width: 100% !important;
  }
  .carousel .carousel-slide {
    min-width: 100% !important;
  }
  .fourth {
    background-position: 70%;
  }
  .fourth .content {
    display: none;
  }
  .fourth .content.mobile {
    display: flex;
    gap: 35px !important;
  }
  .fivth {
    height: 1450px !important;
    align-items: center;
    display: flex;
  }
  .fivth .video {
    width: 320px !important;
    height: 195px !important;
  }
  .fivth .cards {
    flex-direction: column;
    margin: 50px 0 0 0 !important;
  }
  .fivth .cards .card {
    flex-direction: column;
  }
  .fivth .cards .card .text {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .fivth .cards .card img {
    width: 320px !important;
    height: 195px !important;
    align-items: center;
  }
  .fivth .cards .card p {
    text-align: center;
  }
  .gallery-section .cnt {
    max-width: 90vw !important;
    margin: 0 auto;
  }
  .gallery-section h2 {
    font-size: 46px;
  }
  .gallery-section .gallery-description {
    display: none;
  }
  .gallery-section .gallery-description.mobile {
    display: block !important;
  }
  .gallery {
    display: flex;
  }
  .gallery-grid {
    display: none;
  }
  .getting {
    display: none;
  }
  .getting.mobile {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .getting.mobile h2 {
    margin-bottom: 40px;
  }
  .getting.mobile .line {
    flex-direction: column !important;
    align-items: center !important;
  }
  .getting.mobile .text {
    text-align: center;
  }
  .getting.mobile .text-img {
    flex-direction: column;
    margin: 0 !important;
  }
  .getting.mobile .text-img .img {
    width: 320px;
    height: 192px;
  }
  .getting.mobile b {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(21, 20, 57, 0.4);
    color: #dd2242;
  }
  footer {
    height: 760px;
    padding: 120px 0 90px 0;
    flex-direction: column;
    align-items: center;
  }
  footer a {
    font-size: 22px;
  }
  footer .left {
    flex-direction: column;
    align-items: center;
  }
  footer .left nav {
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }
  footer .right {
    flex-direction: column;
  }
  footer .right .social {
    gap: 40px;
  }
  footer .right p {
    font-size: 32px;
  }
  .menu-mobile {
    display: block !important;
    padding: 24px;
    z-index: 33;
    z-index: 111;
  }
  .menu-mobile .social {
    margin: 0 auto;
  }
  .menu-mobile .logo {
    max-width: 86vw !important;
    padding: 0 !important;
    z-index: 1111111;
  }
  .menu {
    display: block !important;
    z-index: 33;
    z-index: 111;
  }
  .menu-mobile {
    padding: 24px;
    z-index: 100;
    z-index: 9999;
    position: absolute;
    padding: 50px 40px !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    background-color: transparent;
    backdrop-filter: blur(51px);
    z-index: 9999;
  }
  .menu-mobile .social {
    margin: 0 auto;
  }
  .menu-mobile.active {
    transform: translateY(0);
    z-index: 9999;
  }
  .menu-mobile .nav_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    max-width: 86vw !important;
    padding: 0 !important;
    z-index: 100;
    z-index: 9999;
  }
  .menu-mobile .nav_mobile a {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    z-index: 100;
    color: #fff;
    text-decoration: none;
    z-index: 9999;
  }
  .close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 9999;
  }
  .menu-mobile .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 18px;
    z-index: 9999;
  }
  #backToTop {
    position: absolute;
    top: -46px;
    right: auto;
    width: 104px;
    height: 104px;
    z-index: 111111;
  }
}

/*# sourceMappingURL=style.css.map */
